/* Typo */
@import url('//fonts.googleapis.com/css?family=Source Sans Pro:300|Amatic SC:700');

body { 
	font-family: Source Sans Pro;
}

a {
	color: #35747f;
	text-decoration: none;
	transition: color .3s;
}
	a:hover { color: #78cfd6; }


h1 {
	font-family: Amatic SC;
	color: #78cfd6;
	text-transform: uppercase;
}

h2, h3 {
	color: #35747f;
	font-weight: lighter;
}


/* Fonts */
.font-ssp { font-family: Source Sans Pro; }
.font-amatic { font-family: Amatic SC; }


/* bouton pour les liens */
.bt, .bt.internal {
	background-color: #fff;
	color: #78cfd6;

	font-family: inherit;

	border: 1px solid #78cfd6;
	border-radius: 0.5em;
}
	.bt:hover {
		background-color: #78cfd6;
		color: #fff;
	}


/* Couleur */
.color, .selected { color: #78cfd6; }
.color-alt { color: #35747f; }

.bg-color {
	background-color: #78cfd6;
	color: #fff;
}
	a.bg-color:hover  {
		background-color: #fff;
		color: #78cfd6;
	}


/* Header */
header { box-shadow: 0px 10px 9px -9px rgba(153,156,153,0.37); }


/* Formulaire contact */
#contact input[name='reponse'] { display: none; }


/* Barre de cookie */
#cnilcookie {
	border: none;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 25px;
    text-align: center;
    font-size: 1.4rem;
    display: none;
}
	#cnilcookie:hover { opacity: 1 !important; }
	#cnilcookie .bt {
		padding: .3rem .8rem;
		border: none;
	}