/* Inspiré par knacss.com (Raphael Goetter) et donc normalize.css (Nicolas Gallagher & Jonathan Neal) */

/* Reset */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
	font-size: calc(1em * .625);
}

body {
	margin: 0;
	box-sizing: border-box;	
	background-color: #fff;
	color: #000;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4rem;
}


body > script { display: none !important; }

* { box-sizing: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template { display: none; }

a { 
	background-color: transparent;
	color: #333;
}

a:active, a:hover, a:focus { 
	outline: 0;
	color: #000;
}

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small { font-size: 80%; }

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

img { 
	border: 0;
	vertical-align: middle;
}
/*img:not([src$=".svg"]) { height: auto; }*/

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

blockquote, figure {
	margin-left: 0;
	margin-right: 0;
}

hr { 
	box-sizing: content-box;
	height: 0;
}

pre { overflow: auto; }

code, kbd, pre, samp {
	white-space: pre-line;
	white-space: pre-wrap;
	font-family: Consolas, "DejaVu Sans Mono", Courier, monospace;
	line-height: normal;
	font-size: 1em;
}

button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
	outline: none;
}
	input:focus, textarea:focus { border: 1px solid #000; }
	
button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], html input[disabled], .disabled { 
	background-color: buttonface !important;
	color: graytext;
	box-shadow: none;
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input { 
	line-height: normal;
	background-color: #fff;
	border: 1px solid #a9a9a9;
    padding: 0.4em 0.5rem 0.5rem;
}

input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea { 
	overflow: auto;
	padding: 0.4em;
}

optgroup { font-weight: bold; }

table {
	border-collapse: collapse;
	border-spacing: 0;
}
td, th { padding: 0; }

ul, ol { padding-left: 2em; }
ul.unstyled, ol.unstyled { list-style: none; }


p, .p-like, ul, ol, dl, blockquote, pre, td, th, label, textarea, caption, details, figure {
	/* margin-top: 0.75em; */
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
}

h1, .h1-like { font-size: 3.2rem; }
h2, .h2-like { font-size: 2.8rem; }
h3, .h3-like { font-size: 2.4rem; }
h4, .h4-like { font-size: 2rem; }
h5, .h5-like { font-size: 1.8rem; }
h6, .h6-like { font-size: 1.6rem; }

em, .italic, address, cite, i, var { font-style: italic; }

/* End Reset*/



/* alternate font-sizing */
.smaller { font-size: 0.6em !important; }
.small { font-size: 0.8em !important; }
.medium { font-size: 1em !important; }
.big { font-size: 1.2em !important; }
.bigger { font-size: 1.5em !important;  }
.biggest { font-size: 2em !important; }
.mega { font-size: 4em !important; }


/* Text effect */
.up { text-transform: uppercase; }
.lighter { font-weight: lighter; }
.normal { font-weight: normal; }
.bold { font-weight: bold; }

/* Color */
.white { color: #fff !important; }
.black { color: #000 !important; }
.grey { color: #808080 !important; }

.yes, .green { color: #3e9c30 !important; }
.orange { color: orange !important; }
.no, .red { color: #9f2d2d !important; }

.checked { color: #1ba238 !important; opacity: 1 !important; }

.color { color: #77d1d0; }
.bg-color { background-color: #77d1d0; }
.box-shadow { box-shadow: 0 1px 2px 0 rgba(150, 150, 150, 0.8); }


/* Transparence */
.o50 { opacity: 0.5; }
.o80 { opacity: 0.8; }
.ho1:hover { opacity: 1; }


/* Rotation */
.r90 { transform: rotate(90deg) }
.r180 { transform: rotate(180deg) }
.r270 { transform: rotate(270deg) }


/* Background */
.nor { background-repeat: no-repeat !important; }
.cover { 
	background-size: cover !important;
	background-repeat: no-repeat;
    background-position: top center;
}
.bg-center { background-position: center !important; }


/* Alignement */
.vat { vertical-align: top !important; }
.vam { vertical-align: middle !important; }
.vab { vertical-align: bottom !important; }
.vabl { vertical-align: baseline !important; }
.vatt { vertical-align: text-top !important; }
.nowrap, .nw { white-space: nowrap; }
.short { text-overflow: ellipsis; }


/*  Layout and modules */
.mod, .ofh { overflow: hidden; }

.clear, .line, .row { clear: both; }

.clearfix::after, .line::after {
	content: "";
	display: table;
	clear: both;
	border-collapse: collapse;
}

.left { margin-right: auto; }
.right { margin-left: auto; }
.auto { margin: auto; }
.center { 
	margin-left: auto !important;
	margin-right: auto !important;
}
	img.center { display: block !important; }

.txtleft, .tl { text-align: left !important; }
.txtright, .tr { text-align: right !important; }
.txtcenter, .tc { text-align: center !important; }
.txtjustify, .tj { text-align: justify; }

.fl { float: left; }
.fr { float: right; }

img.fl { margin-right: 1rem; }
img.fr { margin-left: 1rem; }
img.fl, img.fr { margin-bottom: 0.5rem; }

article img { max-width: 100%; } /* Pour que les images ne dépassent pas la taille du contener */


/* Table layout */
.row {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.row > *, .col {
	display: table-cell;
	vertical-align: top;
}

.inbl {
  display: inline-block;
  vertical-align: top;
}

.inline { display: inline !important; }
.block { display: block !important; }
.inflex { display: inline-flex !important; }
.none, .editable-hidden { display: none; }

.hidden { visibility: hidden; }
.visible { visibility: visible !important; }

.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }


/* Forms */
form, fieldset, .bn {
  border: none;
}
input, button, select, label, .bt {
  vertical-align: middle;
  font-family: inherit;
  font-size: inherit;
}
button, input, optgroup, select, textarea { color: #000; }
label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
legend {
  border: 0;
  white-space: normal;
}
textarea {
  min-height: 5em;
  vertical-align: top;
  font-family: inherit;
  font-size: inherit;
  resize: vertical;
}
select {
  -webkit-appearance: menulist-button;
}
/* if select styling bugs on WebKit */
/* select { -webkit-appearance: none; } */
/* 'x' appears on right of search input when text is entered. This removes it */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
::-webkit-input-placeholder {
  color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
/* unstyled forms */
button.unstyled,
input[type="button"].unstyled,
input[type="submit"].unstyled,
input[type="reset"].unstyled {
  padding: 0;
  border: none;
  line-height: 1;
  text-align: left;
  background: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button.unstyled:focus,
input[type="button"].unstyled:focus,
input[type="submit"].unstyled:focus,
input[type="reset"].unstyled:focus {
  box-shadow: none;
  outline: none;
}


/* Curseur */
.pointer { cursor: pointer !important; }

/* Lien */
.tdn, .tdn a { text-decoration: none !important; }
.tdn:hover { text-decoration: none !important; }


/* Pour ajouter des pictos dans les menus select */
.fa-select { font-family: FontAwesome, Helvetica, Arial, sans-serif; }


/* Module */
.module li:last-child { display: none; }


/* Bouton */
.bt, button {
	background-color: #f5f5f5;		
	color: #507075;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;

	display: inline-block;

	padding: 0 6px 1px;

	height: auto !important;

	border-radius: 3px;
	border: 1px solid rgba(117, 137, 140, 0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);

	overflow: hidden;
    /* text-overflow: ellipsis; @todo crée des bug avec les icones <i .fa> */

	transition: all .3s;
}
	.bt:focus, input[type="button"]:focus, button:focus {
	  -webkit-tap-highlight-color: transparent;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	.bt:hover, button:hover {
		color: #fff;
		text-decoration: none;
		box-shadow: none;
		background-color: #75898c;		

		box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset, 0 100px 0 rgba(255, 255, 255, 0.05) inset;
	}
		.bt a:hover { color: #fff; }
	.bt:active, button:active { 
		box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 100px 0 rgba(0, 0, 0, 0.1) inset;
	}

/* Bouton de connexion */
.bt.connect {
	font-family: arial;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
    text-decoration: none;
    white-space: nowrap;
	text-align: left;

	padding: 8px;
	margin: 0 0 5px 0;
	width: 100%;
}
	.bt.connect:before {
		font-family: FontAwesome;
		font-size: 15px;
		text-align: center;

		vertical-align: bottom;

		margin-right: 10px;
		padding-right: 8px;

		width: 8%;		
		
		display: inline-block;

		border-right: rgba(0, 0, 0, 0.2) 1px solid;		
	}

	.bt.connect.nohover:hover { box-shadow: none !important; }
	.bt.connect.nohover:active { box-shadow: none !important; }

	.bt.internal { background-color: #77d1d0; }
		.bt.connect.internal:before { content: "\e822"; }
	.bt.facebook { background-color: #3A5795; }
		.bt.connect.facebook:before { content: "\f09a"; }
	.bt.google { background-color: #dd4b39; }
		.bt.connect.google:before { content: "\f1a0"; }
	.bt.yahoo { background-color: #4101af; }
		.bt.connect.yahoo:before { content: "\f19e"; }
	.bt.microsoft { background-color: #008299; }
		.bt.connect.microsoft:before { content: "\f17a"; }


/* Bouton flottant */
.bt.fixed {
	display: none;	
	position: fixed;
	z-index: 999;

	width: auto;
	left: 20px;/* right */
	bottom: 20px;

	margin: 0;
	padding: 0.2rem 1rem;

	border-radius: 30px;

	opacity: 0.6;
	text-shadow: none;
}
	.bt.fixed.top { 	
		right: 20px;
		left: inherit;
	}
	.bt.edit, .bt.add, .bt.top { 
		height: 38px !important;
		padding: 0.5rem;
	}
	.bt.fixed.edit { 	
		transition: right .1s;	
		opacity: 0.2;
		left: 20px;
		right: initial;
	}
	.bt.fixed.add { 
		margin-bottom: 10px;
		transition: bottom .3s, right .1s, opacity .3s;		
		z-index: 998;
	}
	.bt.fixed.construction { 		
		left: 70px;/*10px*/
		right: initial;
		opacity: 0.6;
		display: block;		
		padding-left: 0.5rem;
		border-radius: 8px;
	}
	.bt.fixed:hover { 		
		opacity: 1 !important;	
	}


/* Image dans le fond d'un input */
.wrapper {
	color: rgba(0, 0, 0, 0.3);
	position: relative;
	display: inline-block;
	vertical-align: text-bottom;
	text-align: center;
	top: 2px;
	width: 22px;
	margin-left: -28px;
}


/* MESSAGE */
#error, .error {
	border-radius: 5px;
    border: 1px solid #cd0a0a;
    background: #fef1ec;
    color: #cd0a0a;
    z-index: 1000;
}
#highlight, .light {
	border-radius: 5px;
	border: 1px solid #fcefa1;
    background: #fbf9ee;
    color: #363636;
    z-index: 1000;
}



/* GRIDS */
@media (min-width: 480px) {/* 544px */
	
	.medium-hidden { display: none !important; }

	.flex { 
		display: flex;
		/* flex-wrap: wrap; Crée un bug */
	}

	.grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; 
	}
    .grid > * {
		-webkit-box-flex: 1;
				-ms-flex: 1 1 0%;
					flex: 1 1 0%;
		box-sizing: border-box;
		min-width: 0;
		min-height: 0; 
	}

	/* has-gutter */
    .grid.space > * + * { margin-left: calc(1rem - 0.01px); }
    .grid.space-l > * + * { margin-left: calc(2rem - 0.01px); }
    .grid.space-xl > * + * { margin-left: calc(4rem - 0.01px); }

	/* grid container */
	[class*=" grid-"], [class^="grid-"] {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	}
	/* grid childs */
	[class*=" grid-"] > *, [class^="grid-"] > * {
		box-sizing: border-box;
		min-width: 0;
		min-height: 0;
	}

    [class*="grid-2"] > * { width: calc(100% / 2 - 0.01px); }
		[class*="grid-2"].space-xl { margin-right: -2rem; margin-left: -2rem; }
		[class*="grid-2"].space-xl > * { width: calc(100% / 2 - 4rem - 0.01px); margin-right: 2rem; margin-left: 2rem; }

	[class*="grid-3"] > * { width: calc(100% / 3 - 0.01px); }
	    [class*=grid-3].space-xl { margin-right: -2rem; margin-left: -2rem }
	    [class*=grid-3].space-xl>* { width: calc(100% / 3 - 4rem - .01px); margin-right: 2rem; margin-left: 2rem }

	[class*="grid-4"] > * { width: calc(100% / 4 - 0.01px); }
	    [class*=grid-4].space-xl { margin-right: -2rem; margin-left: -2rem }
	    [class*=grid-4].space-xl>* { width: calc(100% / 4 - 4rem - .01px); margin-right: 2rem; margin-left: 2rem }

	.one-third {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(100% / 3 - 0.01px);
	}

	.one-quarter {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(100% / 4 - 0.01px); 
	}

	.one-fifth {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(100% / 5 - 0.01px);
	}

	.one-sixth {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		width: calc(100% / 6 - 0.01px);
	}
}


.pull { margin-right: auto; }
.push { margin-left: auto; }


/* blocks widths (percentage and pixels) */
.w10 { width: 10%; }
.w20 { width: 20%; }
.w25 { width: 25%; }
.w30 { width: 30%; }
.w33 { width: 33.3333%; }
.w40 { width: 40%; }
.w50 { width: 50%; }
.w60 { width: 60%; }
.w66 { width: 66.6666%; }
.w70 { width: 70%; }
.w75 { width: 75%; }
.w80 { width: 80%; }
.w90 { width: 90%; }
.w100 { width: 100%; }
.w50p { width: 50px; }
.w100p { width: 100px; }
.w150p { width: 150px; }
.w200p { width: 200px; }
.w300p { width: 300px; }
.w400p { width: 400px; }
.w500p { width: 500px; }
.w600p { width: 600px; }
.w700p { width: 700px; }
.w800p { width: 800px; }
.w960p { width: 960px; }
.w1140p { width: 1140px; }
.mw320p { max-width: 320px; }
.mw960p { max-width: 960px; }
.mw1140p { max-width: 1140px; }
.mw1400p { max-width: 1400px; }
.wauto { width: auto; }

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man { margin: 0; }
.mat { margin: 0.5rem; }
.mas { margin: 1rem; }
.mam { margin: 2rem; }
.mal { margin: 4rem; }
.mtn { margin-top: 0; }
.mtt { margin-top: 0.5rem; }
.mts { margin-top: 1rem; }
.mtm { margin-top: 2rem; }
.mtl { margin-top: 4rem; }
.mrn { margin-right: 0; }
.mrt { margin-right: 0.5rem; }
.mrs { margin-right: 1rem; }
.mrm { margin-right: 2rem; }
.mrl { margin-right: 4rem; }
.mbn { margin-bottom: 0; }
.mbt { margin-bottom: 0.5rem; }
.mbs { margin-bottom: 1rem; }
.mbm { margin-bottom: 2rem; }
.mbl { margin-bottom: 4rem; }
.mln { margin-left: 0; }
.mlt { margin-left: 0.5rem; }
.mls { margin-left: 1rem; }
.mlm { margin-left: 2rem; }
.mll { margin-left: 4rem; }

.pan { padding: 0; }
.pat { padding: 0.5rem; }
.pas { padding: 1rem; }
.pam { padding: 2rem; }
.pal { padding: 4rem; }
.ptn { padding-top: 0; }
.ptt { padding-top: 0.5rem; }
.pts { padding-top: 1rem; }
.ptm { padding-top: 2rem; }
.ptl { padding-top: 4rem; }
.prn { padding-right: 0; }
.prt { padding-right: 0.5rem; }
.prs { padding-right: 1rem; }
.prm { padding-right: 2rem; }
.prl { padding-right: 4rem; }
.pbn { padding-bottom: 0; }
.pbt { padding-bottom: 0.5rem; }
.pbs { padding-bottom: 1rem; }
.pbm { padding-bottom: 2rem; }
.pbl { padding-bottom: 4rem; }
.pln { padding-left: 0; }
.plt { padding-left: 0.5rem; }
.pls { padding-left: 1rem; }
.plm { padding-left: 2rem; }
.pll { padding-left: 4rem; }


/* Contenu éditable */
div.editable {
	display: inherit;/*inline-flex inline-block*/
	/* @todo voir car il y a un bug avec les contenu pas très large */
}


/* Barre de progression */
.progress {
	/*background-color: rgba(122, 210, 217, 0.8);*/	
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-height: 4px;
	z-index: 10;
	opacity: .8;
	transition: all .3s;
}


/* LAYER & Tooltip */
.layer, body .ui-tooltip  {
	background-color: #fbfbfb;
	border-width: 1px;
	border: 0;
	
	border-top: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 2px 5px rgba(0, 0, 0, 0.3);
}
	/* Fleche au dessu du layer */
	.layer:before, .layer:after, .ui-tooltip:before, .ui-tooltip:after {
		content: "";
		position: absolute;
		top: -20px;
		left: 2rem;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-bottom-color: rgba(190, 190, 190, 0.6);
	}
		.layer:after, .ui-tooltip:after {		
			top: -18px;
			border-bottom-color: #ffffff;			
		}


/* Animation onscroll */
.animation { transition: all 1s .2s ease-out; }
	
	.t5 { transition: all .5s !important; }

	.fade-in { 
		opacity: 0;
		transition-delay: .5s;/*.3s*/
	}

	.slide-up {
		opacity: 0;
		transform: translate3d(0, 100px, 0);
		backface-visibility: hidden;

		transition-duration: 1s !important;

		/* animation: slide-up .3s 1 ease-out; */
	}
		/* @keyframes slide-up {SUPP ???
		    0% { transform: translate3d(0, 100%, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		} */

	.slide-down {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
		backface-visibility: hidden;

		/* animation: slide-down .3s 1 ease-out; */
	}
		/* @keyframes slide-down {SUPP ???
		    0% { transform: translate3d(0, -100%, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		} */

	.slide-left {
		opacity: 0;
		transform: translate3d(-100px, 0, 0);
		backface-visibility: hidden;

		/* animation: slide-left .3s 1 ease-out; */
	}
		/* @keyframes slide-left {SUPP ???
		    0% { transform: translate3d(-100%, 0, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		}
		 */
	.slide-right {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		backface-visibility: hidden;
		
		/* animation: slide-right .3s 1 ease-out; */
	}
		/* @keyframes slide-right {SUPP ???
		    0% { transform: translate3d(100%, 0, 0); }
		    100% { transform: translate3d(0, 0, 0); }
		} */


	.fire {
		opacity: 1 !important;
		transform: translate3d(0, 0, 0) !important;
	}



/* HEADER */
header #logo { transition: opacity .5s; }
	header #logo:hover { opacity: 0.6; }


/* MENU DE NAVIGATION */
	header nav ul {
		list-style: none;
		display: inline-block;
		padding: 0;
		margin-top: 2rem;
	}
		header nav li {
			float: left;
			margin: 0 0.5rem;
		}
		header nav a { text-decoration: none; }


	/* BOUTON BURGER & Animation */
	header nav .burger {
		display: none;
		position: absolute;
		overflow: hidden;
		float: right;
		top: 10px;
		right: 0;
		margin: 0 1rem;
		padding: 0;
		width: 30px;
		height: 30px;
		font-size: 0;
		text-indent: -9999px;
		appearance: none;
		box-shadow: none;
		border-radius: 3px;
		border: none;
		cursor: pointer;
		transition: background 0.3s;

		background-color: #35747f;
	}
	.burger span {
		display: block;
		position: absolute;
		top: 14px;
		left: 6px;
		right: 6px;
		height: 2px;
		background: white;

		transition: background 0.3s;
	}

	.burger span::before,
	.burger span::after {
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		content: "";

		transition-duration: 0.3s, 0.3s;
		transition-delay: 0.3s, 0s;
	}

	.burger span::before { top: -6px; transition-property: top, transform; }
	.burger span::after { bottom: -6px; transition-property: bottom, transform; }

	/* active state, i.e. menu open */
	.burger.active { background-color: #cb0032; }
	.burger.active span { background: none; }
	.burger.active span::before { top: 0; transform: rotate(45deg);	}
	.burger.active span::after { bottom: 0; transform: rotate(-45deg); }
	.burger.active span::before,
	.burger.active span::after { transition-delay: 0s, 0.3s; }



/* HIDING content */
@media (max-width: 640px) {
	.no-small-screen, .noss { display: none !important; }
	.small-screen { display: block; }
}
@media (min-width: 1280px) {
	.no-large-screen { display: none; }
}



/* RESPONSIVE big */
@media (max-width: 850px)
{
	header nav .burger {
		display: block;
	    z-index: 12;
	}

	header nav > ul {
		background-color: #fff;

		position: fixed !important;

		left: 0;
		top: 0;
		bottom: 0;

		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		width: 300px;

		margin: 0;
		padding-top: 0.5rem;

		z-index: 10;

		transition-duration: 0.3s;
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
		header nav li {
			float: none;
			padding: 0;
			border-radius: 5px;
			transition: background 0.3s;
		}
			header nav li:hover { background-color: #dfdfdf; }
			header nav li a {
				display: block;
				padding: 0.5rem;
			}

	/* Raz du header */
	.responsiv-nav header { position: inherit; }
	/* Ouvertur du menu */
	.responsiv-nav header nav ul {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
	/* Overlay menu */
	.responsiv-nav .responsiv-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.6);
	}
	/* Fixe le burger*/
	.responsiv-nav .burger { position: fixed; }

	/* mode edition : menu d'ajout invisible */
	.dragger { display: none !important; }
	#add-nav { display: none !important; }
}

/* RESPONSIVE medium */
@media (max-width: 480px)
{
	.w10, .w20, .w25, .w30, .w33, .w40, .w50,
	.w60, .w66, .w70, .w75, .w80, .w90 {
		width: auto;
		float: none;
	}

	.plm { padding-left: 0; }
	.prl { padding-right: 0; }

	.mrl { margin-right: 0; }
	.mll { margin-left: 0; }

	.tr, .tl { text-align: center !important; }

	article {
		/*display: inline-block; Crée un bug collateral avec l'editeur de menu ... utile ?*/
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
		
	.editable img.fl, .editable img.fr {
		float: none;
		display: block;
		margin: 0 auto 0.5rem;
	}
	.editable img {
		max-width: 100%;
		height: auto;
	}
}

/* RESPONSIVE small */
@media (min-width: 321px) and (max-width: 640px) {
	/* quick reset in small resolution and less */
	.w600p,
	.w700p,
	.w800p,
	.w960p,
	.mw960p {
		width: auto;
		float: none;
	}	
}

/* RESPONSIVE tiny */
@media (max-width: 320px) {
	/* quick tiny resolution reset */
	.mod,
	.col,
	fieldset {
		/* display: block !important; empèche les toggle js */
		float: none !important;
		clear: none !important;
		width: auto !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border: 0;
	}
	.w300p,
	.w400p,
	.w500p,
	.w600p,
	.w700p {
		width: auto;
		float: none;
	}
	.row {
		display: block !important;
		width: 100% !important;
	}

	th,
	td {
		display: block;
		width: auto;
		text-align: left;
	}
}


/* PRINT RESET */
@media print {
	* {
		background: transparent !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	body {
		width: auto;
		margin: auto;
		font-family: serif;
		font-size: 12pt;
	}
	p, .p-like,
	h1, .h1-like,
	h2, .h2-like,
	h3, .h3-like,
	h4, .h4-like,
	h5, .h5-like,
	h6, .h6-like,
	blockquote,
	ul,
	ol {
		color: #000;
		margin: auto;
	}
	.print { display: block; }
	.no-print { display: none; }
	/* no orphans, no widows */
	p,
	.p-like,
	blockquote {
		orphans: 3;
		widows: 3;
	}
	/* no breaks inside these elements */
	blockquote,
	ul,
	ol {
		page-break-inside: avoid;
	}
	/* no breaks after these elements */
	h1, .h1-like,
	h2, .h2-like,
	h3, .h3-like,
	caption {
		page-break-after: avoid;
	}
	a {
		color: #000;
	}
	/* displaying URLs
	a[href]::after {
	content: " (" attr(href) ")";
	}
	*/
	a[href^="javascript:"]::after,
	a[href^="#"]::after {
		content: "";
	}
}


/* ---------------------------------- */
/* ==Icons                            */
/* ---------------------------------- */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-spin {
  animation: fa-spin 2s infinite linear;
}

.fa-ul {
  padding-left: 0;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
/* .fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.3em;
  text-align: center;
} */
.fa-li {
    position: relative;
    left: inherit;
    top: inherit;
    width: inherit;
   	float: none;
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/* Les icones */
.fa-mail:before { content: '\e800'; } /* '' */
.fa-search:before { content: '\e801'; } /* '' */
.fa-user:before { content: '\e802'; } /* '' */
.fa-users:before { content: '\e803'; } /* '' */
.fa-camera:before { content: '\e804'; } /* '' */
.fa-th-large:before { content: '\e805'; } /* '' */
.fa-ok:before { content: '\e806'; } /* '' */
.fa-cancel:before { content: '\e807'; } /* '' */
.fa-plus:before { content: '\e808'; } /* '' */
.fa-home:before { content: '\e809'; } /* '' */
.fa-attach:before { content: '\e80a'; } /* '' */
.fa-lock:before { content: '\e80b'; } /* '' */
.fa-lock-open:before { content: '\e80c'; } /* '' */
.fa-eye:before { content: '\e80d'; } /* '' */
.fa-tag:before { content: '\e80e'; } /* '' */
.fa-attention:before { content: '\e80f'; } /* '' */
.fa-attention-circled:before { content: '\e810'; } /* '' */
.fa-location:before { content: '\e811'; } /* '' */
.fa-bell:before { content: '\e812'; } /* '' */
.fa-doc:before { content: '\e813'; } /* '' */
.fa-phone:before { content: '\e814'; } /* '' */
.fa-cog:before { content: '\e815'; } /* '' */
.fa-basket:before { content: '\e816'; } /* '' */
.fa-volume-off:before { content: '\e817'; } /* '' */
.fa-clock:before { content: '\e818'; } /* '' */
.fa-resize-full:before { content: '\e819'; } /* '' */
.fa-resize-small:before { content: '\e81a'; } /* '' */
.fa-pencil:before { content: '\e81b'; } /* '' */
.fa-up-open:before { content: '\e81c'; } /* '' */
.fa-down-hand:before { content: '\e81d'; } /* '' */
.fa-arrows-cw:before { content: '\e81e'; } /* '' */
.fa-globe:before { content: '\e81f'; } /* '' */
.fa-credit-card:before { content: '\e820'; } /* '' */
.fa-floppy:before { content: '\e821'; } /* '' */
.fa-key:before { content: '\e822'; } /* '' */
.fa-music:before { content: '\e823'; } /* '' */
.fa-resize-vertical:before { content: '\e824'; } /* '' */
.fa-list:before { content: '\e825'; } /* '' */
.fa-info-circled:before { content: '\e826'; } /* '' */
.fa-play-circled2:before { content: '\e827'; } /* '' */
.fa-up-big:before { content: '\e828'; } /* '' */
.fa-eye-off:before { content: '\e82a'; } /* '' */
.fa-video:before { content: '\e82b'; } /* '' */
.fa-volume-up:before { content: '\e82c'; } /* '' */
.fa-upload:before { content: '\e82d'; } /* '' */
.fa-logout:before { content: '\e82e'; } /* '' */
.fa-bold:before { content: '\e82f'; } /* '' */
.fa-italic:before { content: '\e830'; } /* '' */
.fa-align-left:before { content: '\e831'; } /* '' */
.fa-align-center:before { content: '\e832'; } /* '' */
.fa-align-right:before { content: '\e833'; } /* '' */
.fa-align-justify:before { content: '\e834'; } /* '' */
.fa-resize-horizontal:before { content: '\e835'; } /* '' */
.fa-flag:before { content: '\e836'; } /* '' */
.fa-picture:before { content: '\e837'; } /* '' */
.fa-link:before { content: '\e838'; } /* '' */
.fa-up-hand:before { content: '\e83b'; } /* '' */
.fa-login:before { content: '\e83c'; } /* '' */
.fa-move:before { content: '\f047'; } /* '' */
.fa-link-ext:before { content: '\f08e'; } /* '' */
.fa-twitter:before { content: '\f099'; } /* '' */
.fa-facebook:before { content: '\f09a'; } /* '' */
.fa-rss:before { content: '\f09e'; } /* '' */
.fa-menu:before { content: '\f0c9'; } /* '' */
.fa-underline:before { content: '\f0cd'; } /* '' */
.fa-money:before { content: '\f0d6'; } /* '' */
.fa-mail-alt:before { content: '\f0e0'; } /* '' */
.fa-linkedin:before { content: '\f0e1'; } /* '' */
.fa-doc-text:before { content: '\f0f6'; } /* '' */
.fa-angle-double-up:before { content: '\f102'; } /* '' */
.fa-quote-left:before { content: '\f10d'; } /* '' */
.fa-quote-right:before { content: '\f10e'; } /* '' */
.fa-folder-empty:before { content: '\f114'; } /* '' */
.fa-code:before { content: '\f121'; } /* '' */
.fa-help:before { content: '\f128'; } /* '' */
.fa-superscript:before { content: '\f12b'; } /* '' */
.fa-calendar-empty:before { content: '\f133'; } /* '' */
.fa-play-circled:before { content: '\f144'; } /* '' */
.fa-doc-inv:before { content: '\f15b'; } /* '' */
.fa-youtube:before { content: '\f167'; } /* '' */
.fa-instagram:before { content: '\f16d'; } /* '' */
.fa-up:before { content: '\f176'; } /* '' */
.fa-skype:before { content: '\f17e'; } /* '' */
.fa-yahoo:before { content: '\f19e'; } /* '' */
.fa-google:before { content: '\f1a0'; } /* '' */
.fa-file-pdf:before { content: '\f1c1'; } /* '' */
.fa-file-word:before { content: '\f1c2'; } /* '' */
.fa-file-excel:before { content: '\f1c3'; } /* '' */
.fa-file-powerpoint:before { content: '\f1c4'; } /* '' */
.fa-file-image:before { content: '\f1c5'; } /* '' */
.fa-file-archive:before { content: '\f1c6'; } /* '' */
.fa-file-audio:before { content: '\f1c7'; } /* '' */
.fa-file-video:before { content: '\f1c8'; } /* '' */
.fa-file-code:before { content: '\f1c9'; } /* '' */
.fa-circle-notch:before { content: '\f1ce'; } /* '' */
.fa-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.fa-header:before { content: '\f1dc'; } /* '' */
.fa-share:before { content: '\f1e0'; } /* '' */
.fa-paypal:before { content: '\f1ed'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-user-plus:before { content: '\f234'; } /* '' */
.fa-shopping-basket:before { content: '\f291'; } /* '' */
.fa-hashtag:before { content: '\f292'; } /* '' */
.fa-question-circle-o:before { content: '\f29c'; } /* '' */
.fa-user-circle:before { content: '\f2bd'; } /* '' */
.fa-twitter-squared:before { content: '\f304'; } /* '' */
.fa-facebook-squared:before { content: '\f308'; } /* '' */